*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

/*Variables*/

:root {
  /*colors*/
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray50: hsl(0, 0%, 50%);
  --gray70: hsl(0, 0%, 70%);
  --gray90: hsl(0, 0%, 90%);
  --gray95: hsl(0, 0%, 95%);
  --colora: hsl(258 48% 38%);
  --colora-hover: hsl(258 48% 48%);
  --colora2: hsl(258 55% 80%);
  --color2-hover: hsl(258 55% 90%);

  /*margins*/
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  /*landing page*/
  --ff: "Nunito", "sans-serif";
  --h1: bold 4rem/1em var(--ff);
  --h2: bold 3rem/1.2em var(--ff);
  --h3: bold 2.25rem/1.2em var(--ff);
  --h4: bold 1.5rem/1.6em var(--ff);
  --big: 1.25rem/1.6em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: 0.75em/2em var(--ff);

  /*Uis*/
  --h1ui: bold 3rem/1.2em var(--ff);
  --h2ui: bold 2.25rem/1.2em var(--ff);
  --h3ui: bold 1.5rem/1.6em var(--ff);
  --h4ui: bold 1.12rem/1.3em var(--ff);
  --bigui: 1rem/1.6em var(--ff);
  --pui: 0.8rem/1.6em var(--ff);
  --smallui: 0.75rem/1.8em var(--ff);

  /*space */
  --space-1: 2rem;
  --space-2: 1.5rem;
  --space-3: 1rem;
  --space-4: 0.5rem;

  /*border-radius*/
  --radius-basic: 8px;

  /*page-content-width*/
  --max-width: 1400px;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff);
  background-color: var(--gray95);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font: var(--h1);
}

nav a {
  text-decoration: none;
  color: inherit;
}

.link-container {
  display: flex;
  gap: var(--space-3);
}

.link-container svg,
footer svg {
  height: 40px;
  fill: var(--gray90);
}

svg:hover {
  fill: var(--colora);
}

nav a:hover {
  color: var(--colora);
}

nav button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.header-wrapper,
.main-wrapper,
main {
  padding: var(--space-1);
}

.header-wrapper {
  min-height: 10dvh;
  background-color: var(--gray10);
  color: var(--gray90);
}

header,
main {
  max-width: var(--max-width);
  margin-inline: auto;
}
.main-wrapper {
  flex-grow: 2;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: var(--space-1);
}

main h1 {
  font: var(--h1ui);
}

.auth-message-page,
.error-message-page {
  display: flex;
  place-content: center;
  text-align: center;
  gap: 1rem;
}

main svg {
  height: 40px;
  color: var(--colora);
}

.open-dialog-button {
  background: none;
  border: none;
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-m);
}

.errors-container {
  margin-bottom: var(--margin-l);
  font: var(--pui);
  display: none;
  text-align: left;
}

dialog {
  padding: var(--space-1);
  border-radius: var(--radius-basic);
  background-color: var(--colora);
  color: var(--gray95);
}

dialog h3 {
  font: var(--h3ui);
  margin-bottom: var(--margin-xl);
}

dialog label p {
  font: var(--pui);
}

dialog form {
  display: flex;
  flex-direction: column;
}

dialog form label {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--margin-m);
}

dialog button {
  background-color: var(--colora2);
  border-radius: var(--radius-basic);
}

dialog button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
  background-color: var(--color2-hover);
}

dialog .button-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.empty-content-placeholder {
  font: var(--h3ui);
  margin-top: var(--margin-xxl);
}

.messages-container {
  padding: var(--space-1);
  min-width: 500px;
  gap: var(--space-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-basic);
  background-color: var(--colora);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 500px;
}

.message-card {
  display: flex;
  flex-direction: column;
  background-color: var(--colora2);
  border-radius: 8px;
  padding: var(--space-2);
  width: 100%;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  gap: var(--space-2);
}

.message-card button {
  background-color: var(--colora);
  border-radius: var(--radius-basic);
  color: var(--gray90);
}

.message-card button:hover {
  background-color: var(--colora-hover);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
}
.message-data-container {
  display: flex;
  flex-direction: column;
  color: var(--gray30);
}

.username-container p {
  font: var(--h4);
}

.message-data-container > p:first-child {
  font: var(--h4ui);
  margin-bottom: var(--margin-xxs);
  color: var(--gray10);
}

.title-container > p:first-child {
  font: var(--h3ui);
}

.footer-wrapper {
  min-height: 5dvh;
  background-color: var(--gray10);
  color: var(--gray90);
  padding: var(--space-3) var(--space-1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
  margin-inline: auto;
  max-width: var(--max-width);
}

@media (max-width: 850px) {
  h1 a {
    font: var(--h2);
  }
  nav {
    flex-direction: column;
    gap: var(--space-1);
  }
}

@media (max-width: 650px) {
  h1 a {
    font: var(--h3);
  }
  nav {
    flex-direction: column;
    gap: var(--space-1);
  }
  main h1 {
    font: var(--h2ui);
  }
  .link-container svg {
    height: 30px;
  }
  .messages-container {
    min-width: 300px;
  }
}

@media (max-width: 450px) {
  header h1 {
    text-align: center;
  }
  main {
    padding: 0;
  }
  main h1 {
    padding-top: var(--space-1);
  }
}
