*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

/*Variables*/

:root {
  /*colors*/
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray50: hsl(0, 0%, 50%);
  --gray70: hsl(0, 0%, 70%);
  --gray90: hsl(0, 0%, 90%);
  --gray95: hsl(0, 0%, 95%);
  --colora: hsl(258 48% 38%);
  --colora-hover: hsl(258 48% 48%);
  --colora2: hsl(258 55% 80%);
  --color2-hover: hsl(258 55% 90%);

  /*margins*/
  --margin-xxs: 0.25rem;
  --margin-xs: 0.5rem;
  --margin-s: 0.75rem;
  --margin-m: 1rem;
  --margin-l: 1.25rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2.5rem;

  /*landing page*/
  --ff: "Nunito", "sans-serif";
  --h1: bold 4rem/1em var(--ff);
  --h2: bold 3rem/1.2em var(--ff);
  --h3: bold 2.25rem/1.2em var(--ff);
  --h4: bold 1.5rem/1.6em var(--ff);
  --big: 1.25rem/1.6em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: 0.75em/2em var(--ff);

  /*Uis*/
  --h1ui: bold 3rem/1.2em var(--ff);
  --h2ui: bold 2.25rem/1.2em var(--ff);
  --h3ui: bold 1.5rem/1.6em var(--ff);
  --h4ui: bold 1.12rem/1.3em var(--ff);
  --bigui: 1rem/1.6em var(--ff);
  --pui: 0.8rem/1.6em var(--ff);
  --smallui: 0.75rem/1.8em var(--ff);

  /*space */
  --space-1: 2rem;
  --space-2: 1.5rem;
  --space-3: 1rem;
  --space-4: 0.5rem;

  /*border-radius*/
  --radius-basic: 8px;

  /*page-content-width*/
  --max-width: 1400px;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff);
  background-color: var(--gray95);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font: var(--h1);
}

nav a {
  text-decoration: none;
  color: inherit;
}

.link-container {
  display: flex;
  gap: var(--space-3);
}

.link-container svg,
footer svg {
  height: 40px;
  fill: var(--gray90);
}

svg:hover {
  fill: var(--colora);
}

nav a:hover {
  color: var(--colora);
}

nav button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.header-wrapper {
  min-height: 10dvh;
  background-color: var(--gray10);
  color: var(--gray90);
}

header,
main {
  max-width: var(--max-width);
  margin-inline: auto;
}

.header-wrapper,
.main-wrapper,
main {
  padding: var(--space-1);
}

.main-wrapper {
  flex-grow: 2;
  display: flex;
}

.errors-container {
  margin-bottom: var(--margin-l);
  font: var(--bigui);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: var(--colora);
  border-radius: var(--radius-basic);
  max-width: var(--max-width);
  color: var(--gray90);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

main h1 {
  font: var(--h1ui);
  margin-bottom: var(--margin-xl);
}

main button {
  background-color: var(--colora2);
  color: var(--gray10);
  border-radius: var(--radius-basic);
  margin-bottom: var(--margin-l);
  margin-top: var(--margin-l);
  padding: var(--space-4) var(--space-1);
}

main button:hover {
  background-color: var(--color2-hover);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
}

main p {
  font: var(--pui);
}

main p a {
  color: var(--gray90);
}

main p a:hover {
  font-weight: bold;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main form label {
  display: flex;
  flex-direction: column;
  font: var(--bigui);
  margin-bottom: var(--margin-m);
}

input {
  margin-top: var(--margin-xxs);
}

.footer-wrapper {
  min-height: 5dvh;
  background-color: var(--gray10);
  color: var(--gray90);
  padding: var(--space-3) var(--space-1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-3);
  max-width: var(--max-width);
  margin-inline: auto;
  max-width: var(--max-width);
}

@media (max-width: 750px) {
  h1 a {
    font: var(--h2);
  }
  nav {
    flex-direction: column;
    gap: var(--space-1);
  }
}

@media (max-width: 550px) {
  h1 a {
    font: var(--h3);
  }
  .link-container svg {
    height: 30px;
  }
  header h1 {
    font: var(--h2ui);
    text-align: center;
  }
  main h1 {
    font: var(--h2ui);
  }
}
